{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- About -->
<div id="about" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<div class="col-md-6">
				<div class="section-header">
					<h2>Bienvenidos al MEETUP</h2>
					<p class="lead">Aprender nunca fue tan divertido</p>
				</div>

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon fa fa-flask"></i>
					<div class="feature-content">
						<h4>Cursos en linea </h4>
						<p>Aprende lo que nos ofrece ...</p>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon fa fa-users"></i>
					<div class="feature-content">
						<h4>Turores capacitados</h4>
						<p>Aprende lo que nos ofrece ...</p>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="feature">
					<i class="feature-icon fa fa-comments"></i>
					<div class="feature-content">
						<h4>Comunidad</h4>
						<p>Aprende lo que nos ofrece ...</p>
					</div>
				</div>
				<!-- /feature -->

			</div>

			<div class="col-md-6">
				<div class="about-img">
					<img src="{% static 'img/about.png' %}" alt="">
				</div>
			</div>

		</div>
		<!-- row -->

	</div>
	<!-- container -->
</div>
<!-- /About -->

<!-- Courses -->
<div id="courses" class="section">

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">
			<div class="section-header text-center">
				<h2>Explora nuestros tutoriales</h2>
				<p class="lead">Aprende lo que mas te gusta.</p>
			</div>
		</div>
		<!-- /row -->

		<!-- courses -->
		<div id="courses-wrapper">

			<!-- row -->
			<div class="row">

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course01.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Desarrollo de aplicaciones</a>
						<div class="course-details">
							<span class="course-category">Mobile</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course02.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Introduccion a CSS </a>
						<div class="course-details">
							<span class="course-category">Web Design</span>
							<span class="course-price course-premium">Premium</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course03.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Diseño gráfico</a>
						<div class="course-details">
							<span class="course-category">Drawing</span>
							<span class="course-price course-premium">Premium</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course04.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Desarrollo Web</a>
						<div class="course-details">
							<span class="course-category">Web Development</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

			</div>
			<!-- /row -->

			<!-- row -->
			<div class="row">

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course05.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">PHP</a>
						<div class="course-details">
							<span class="course-category">Web Development</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course06.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Diseño Web</a>
						<div class="course-details">
							<span class="course-category">Web Design</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course07.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Fotografía</a>
						<div class="course-details">
							<span class="course-category">Photography</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->


				<!-- single course -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="course">
						<a href="#" class="course-img">
							<img src="{% static 'img/course08.jpg' %}" alt="">
							<i class="course-link-icon fa fa-link"></i>
						</a>
						<a class="course-title" href="#">Tipografía</a>
						<div class="course-details">
							<span class="course-category">Typography</span>
							<span class="course-price course-free">Free</span>
						</div>
					</div>
				</div>
				<!-- /single course -->

			</div>
			<!-- /row -->

		</div>
		<!-- /courses -->

		<div class="row">
			<div class="center-btn">
				<a class="main-button icon-button" href="#">Más cursos</a>
			</div>
		</div>

	</div>
	<!-- container -->

</div>
<!-- /Courses -->
<!-- Contact CTA -->
<div id="contact-cta" class="section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'img/cta2-background.jpg' %})"></div>
	<!-- Backgound Image -->

	<!-- container -->
	<div class="container">

		<!-- row -->
		<div class="row">

			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="white-text">Contactenos</h2>
				<p class="lead white-text">....................</p>
				<a class="main-button icon-button" href="#">Contactenos ahora</a>
			</div>

		</div>
		<!-- /row -->

	</div>
	<!-- /container -->

</div>
<!-- /Contact CTA -->
{% endblock content %}